{% extends "index.html" %}
{% block content %}

<body style="background-color: #383e56">
    <div class="container-fluid">
        <h1 class="display-1 jumbotron" style="text-align: center; background-color: #ea907a"><span style="color: #eedad1">Debate</span></h1>
    </div>
    <div class="container" style="color: #ea907a">

        <form action="/claimblog" method="POST">
        
        
            <div class="mb-3">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Your claim title</label>
                    <input name="title" type="text" class="form-control" required id="exampleFormControlInput1" placeholder="your title here...">
                  </div>
                <label for="exampleFormControlTextarea1" class="form-label">Type your claim here</label>
                <textarea class="form-control" name="content"required id="exampleFormControlTextarea1" rows="3"></textarea>
                  <button type="submit" class="btn w-100 btn-success">Post your claim</button>
                <div class="form-check">
                    
                    <label class="form-check-label" for="flexCheckDefault">
                        <div class="lead mb-5">select the title of the claims you feel relates to yours</div>
                      {%for claim in claimsdata%}
                      
                      <div class="card w-100 bg-dark p-2 m-5">
                          
                        <div class="card-body p-3">
                            <input name="checkbox"class="form-check-input mr-5" type="checkbox"  value="{{claim[4]}}" id="flexCheckDefault"><p class="lead">{{claim[4]}}</p> <p class="form-helper">posted by {{claim[2]}}</p>
                        </div>
                      </div>
                      {%endfor%}
    
                      
                    </label>
                  </div>
                 
              </div>
        </form>
    

    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
{% endblock %}