
{% extends "index.html" %}
{% block content %}
<body style="background-color: bisque"  >
<div class="container-fluid" >
    <h1 class="display-1 jumbotron" style="text-align: center; background-color: #F2FBE0">Registration</h1>
</div>
<div class="container">



  {% with messages = get_flashed_messages() %}
  {% if messages %}
      {% for message in messages %}
          <div class="alert alert-primary alert-dismissible fade show" role="alert">
              <span>{{ message }}</span>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
          </div>
      {% endfor %}
  {% endif %}
  {% endwith %}


  <form method="POST" action="{{ url_for('Registration') }}">
    <div class="form-group">
      <label for="regemail">Email address</label>
      <input type="email" class="form-control" name="regemail" id="regemail" aria-describedby="emailHelp" placeholder="Enter email" required>
  </div>
  <div class="form-group">
      <label for="Name">Name</label>  
      <input type="text" class="form-control" name="regname" id="regname" placeholder="Name" required>
  </div>
  <div class="form-group">
      <label for="regpass">Password</label>
      <input type="password" class="form-control" name="regpass" id="regpass" placeholder="Password" required>
  </div>
  <div class="form-group">
      <label for="regpass">Confirm Password</label>
      <input type="password" class="form-control" name="cregpass" id="cregpass" placeholder="Confirm Password" required>
  </div>

  <button type="submit" class="btn " style="background-color: #F2FBE0; color: black">Submit</button>
</form>
<br>




<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    
</div>
</body>

{% endblock %}