
{% extends "index.html" %}
{% block content %}
<body style="background-color: bisque">
<div class="container-fluid">
    <div class="mt-4">

        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-primary alert-dismissible fade show" role="alert">
                    <span>{{ message }}</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
    
        <br>
        <br>
       

        {%if datas%}
        {%for data in datas %}

        <div class="card">
            <div class="card-body">
             
            <form  method="POST" action="/content/view/">
                <li class="list-group">

                    <button type="submit" name="topicname" id="topicid" value="{{data[0]}}" href="#"
                        class="list-group-item list-group-item-action" style="color: #596e79"><strong>{{ data[0]}}</strong>
                        <p style="color: #596e79"><small> {{ data[0] }}</small></p>
                    </button>
                </li>
            </form>
                
               
            </div>
          </div>
                
                <br>
               
                <br>
        {%endfor%}
        {%else%}
        {{error}}
        {%endif%}

        
    
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

{% endblock %}