{% extends "index.html" %}
{% block content %}
<body style="background-color: #383e56">
<div class="container-fluid">
    <h1 class="display-1 jumbotron" style="text-align: center; background-color: #ea907a"><span style="color: #eedad1">New Topic</span></h1>
</div>
<div class="container">

    <form action="{{ url_for('topicinsert') }}" method="POST">
        <input class="form-control form-control-lg" type="text" placeholder="Topic Name" name="topicname">
        <br>

        <textarea class="form-control" id="TextArea" rows="3" placeholder="Content" name="content"></textarea>
        <br>
        <div style="align-items: center">
            <button type="submit" class="btn" style="width: 30%; background-color: #596e79"><span style="color: white">Submit</span></button>
        </div>
    </form>


</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

{% endblock %}
